/**********************************
GLOBAL SETTINGS
***********************************/

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  color: #fff;
  background: #000;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}


/**********************************
LINK STYLES
***********************************/

a {
  color: aquamarine;
  font-size: 16px;
}
